<% provide(:title, "About") %>
<!DOCTYPE html>
<html lang='en-US'>
<head>
<title>Jeetan|<%= yield(:title) %></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
 * {padding: 0; margin: 0;}
 a {text-decoration: none;}
 p {padding-left: 10px;}
  .container{width: 700px; margin-left:auto; margin-right:auto; }
  .content {}
  .footer {clear:left; background-color: #bb9955}
</style>
</head>
<body>
  <div class="container">
  	<div class="content">
  		<p>Conetnt</p>
  	</div>
  	<div class="footer">
		<p>Footer</p>
    </div>
  </div>
</body>
</html>

