<% provide(:title, "About") %>
<!DOCTYPE html>
<style>
</style>
<div class="center jumbotron">
<div class="content">
  <p>
   <strong>Jeetan Madaan - Technical Lead</strong><br><br>
    In my 13 years of IT career, I have learned how to integrate systems, helped in solution design, requirement analysis, followed SDLC, Agile approach and ITIL processes to deliver product, platform, services and worked across several industry domains.<br><br>
    Extensive experience in Oracle Stack including Oracle Fusion Middleware, JD Edwards and programming languages like Java, PL/SQL, BPEL etc <br><br>
    From last 5 years, I have been working in Telematics domain where I have learned how SOA services, Distributed Computing, Layered Architecture, has been applied to develop telematics products, solutions.
  </p>
</div>
<div class="content">
<p><big>Contact Information</big></p>
	  <ul>
        <big>- Email: <a href="mailto:jeetan.madaan">jeetan.madaan@gmail.com</a></big>
      </ul>
      <ul>
        <big>- Skype: jeetanm</big>
      </ul>

 <div>
</div>

