<% provide(:title, "Home") %>
<!DOCTYPE html>
<div class="center jumbotron">

  <h2>
  	Welcome to the Learning Portal. This is the home page for Learning Portal.
  </h2>

  <%= link_to "Member Sign up!", membersignup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("JeetRicha.jpg", width: '32', height: '32', alt: "Profile Photo") , '#' %>